{<<"app">>,<<"excribe">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Simple text formatting utility for Elixir.">>}.
{<<"elixir">>,<<"~> 1.4">>}.
{<<"files">>,
 [<<"lib/excribe.ex">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,
  <<"CHANGELOG.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/Dalgona/excribe">>}]}.
{<<"maintainers">>,[<<"dalgona@hontou.moe">>]}.
{<<"name">>,<<"excribe">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.1.1">>}.
